/* ---------- CSS Reset -------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin: 0;
}

/*----------- Universal Styles -------*/
/*----------- eg padding on your selections, utility classes, etc -------*/

header, footer, .banner, .testimonial {
  padding:5%;
  .padded: 3%;
}

/*----------- Typography -------*/

body {
font-family: 'Montserrat', sans-serif;
}

.right {
  text-align: right;
}

h1 h2 h3, span {
    font-weight: 700;
    padding-right: 10px;
    color: orange;
}

h1 {padding-top: 10px;
font-size: 5vw;
}

h3 {
  font-size: 3vw;
}

h4, h2 {
  text-align: center;
}

footer {
    font-weight: 700;
    color: white;
}

header {
  text-align: center;
  color: white;
}

p {
  text-size: 1rem;
}
.padded {
padding: 5%;
}

.padded h2{
text-align: left;
font-size: 1.7rem;
}

.quotel {
  font-size: 5vw;
  color: grey;
}

.author {
  margin-right: 5%;
}

/*----------- Banner and background images -------*/

[class*='bg'],
.banner {
  background-color: rgb(200,200,200);
}

header {
background-image: url('images/cover.jpg');
background-size: cover;
background-position: center;
min-height: 50vh;
padding: 30vh 5%;
background-attachment: fixed;
}

[class*='bg-pug'] {
  background-image: url('images/pug.jpg');
  background-size: cover;
  background-position: 81% 36%;
  min-height: 50vh;
}

[class*='bg-bed'] {
  background-image: url('images/bed.jpg');
  background-size: cover;
  background-position: 50% 50%;
  min-height: 50vh;
}

.smallbanner {
  background-image: url('images/pen.jpg');
  background-size: cover;
  background-position: 95% 25%;
  min-height: 55vh;
  }

.smallbanner span {
  color: white
}

.smallbanner h2 {
  font-size: 1.7rem
}

.smallbanner h4 {
  font-size: 1rem
}

footer {
    background-color: rgb(60,60,65);
}

footer h2 {
  text-align: left;
}

footer h2, span {
  color= orange;
}


/*----------- Testimonial Section -------*/
[class*='testimonial'] {
  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  font-size: 1rem;
}

.author{
  text-align:right;
  font-size: 1rem;
}

/*----------- Footer -------*/
[class*='footimg'] {
  background-color: rgb(60,60,65);
  background-size: cover;
  background-position: center;
  min-height: 35vh;
}

input[type="submit"] {
  background-color: orange;
  background-size: auto;
}

input, textarea, label {
  display:block;
  width: 100%;
  padding:2%;
  Margin: 10px;
  border-radius:2px;
  border: none;
}

textarea {
min-height: 25vh;

}
